#about {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 3rem;
}

.whatIDoDesc {
  font-weight: 400;
  font-size: 1.08rem;
  max-width: 50rem;
  padding: 0 2rem;
}

.whatIDoBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.whatIDoBar {
  display: flex;
  margin: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background: #323232;
}

.whatIDoBarImg {
  object-fit: cover;
  height: 4rem;
  margin-right: 1rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
}

.whatIDoBarText {
  h2 {
    color: #9297ff;
  }

  p {
    font-size: 1rem;
    font-weight: 200;
    margin: 0.3rem;
  }

}

@media screen and (max-width: 720px) {
  .whatIDoBarText { 
    p {
      font-size: 3.5vw;
    }
  }
}