#skills {
  padding: 20px;
  padding-top: 3rem;
  margin: auto;
  width: 100vw;
  max-width: 85rem; //?
}

.list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  ul {
    list-style-type: none;
  }
}

.skillBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.skillBar {
  display: block;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #323232;

  h3 {
    color: #9297ff;
    margin-bottom: 0.5rem;
  }
}
