.contactPageTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}

.contactForm {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name, .email, .msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  background: #323232;
}

.submitBtn {
  background: #ffffff;
  border: none;
  border-radius: 2rem;
  margin: 1.5rem 0;
  padding: 0.75rem 3.5rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  border-radius: 0.2rem;
  margin: 0 0.5rem;
}
