.navbar {
  background: #1e1e1e;
  height: 6rem;
  width: 100vw;
  max-width: 85rem;
  margin: 0;
  padding: 1vh 10vw 1vh 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  height: 8rem;
  width: 8rem;
}

.desktopMenuListItem {
  margin: 1rem;
}

.desktopMenuListItem:hover {
  color: #ffffff;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
}

.desktopMenuBtn {
  background: #ffffff;
  color: #000000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  border-radius: 0.5rem;
}

.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem 0.6rem 1rem 0.2rem;
}

.active {
  color: #ffffff;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ffffff;
}

.navMenu {
  position: absolute;
  top: 6rem;
  right: 5.3rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 12rem;
  background: #323232;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
}

.listItem {
  padding: 0.3rem 3rem;
  margin: 0.25rem 0;
  background: #1e1e1e;
}

.listItem:hover {
  color: #ffffff;
}

.mobMenuIcon {
  display: none;
  object-fit: cover;
  height: 3rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  padding: 0;
  z-index: 1000;
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.enlargedLogo {
  width: 100%;
  height: auto;
  position: relative;
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.enlargedLogo {
  display: block;
  width: 100%;
  height: auto;
}

.closeButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -40px;
  right: -30px;
  width: 130px;
  height: 130px;
}

@media screen and (max-width: 1200px) {
  .navbar {
    margin: 0 0rem 0 -2rem;
  }
}

@media screen and (max-width: 992px) {
  .mobMenuIcon {
    display: flex;
  }

  .desktopMenu {
    display: none;
  }

  .desktopMenuBtn {
    display: none;
  }

  .enlargedLogo {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    margin: 0 0 0 -1rem;
  }
}

@media screen and (max-width: 394px) {
  .navbar {
    margin: 0 0.5rem 0 -0.5rem;
  }
}

@media screen and (max-width: 400px) {
  .navMenu {
    position: absolute;
    top: 6rem;
    right: 3.5rem;
  }
}
