#experience {
  padding: 3rem 20px 0 20px;
  margin: auto;
  width: 100vw;
  max-width: 55rem;
}

.sectionTitle,
.experienceDesc {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  color: #ffffff;
}

.experienceDesc {
  font-weight: 400;
  font-size: 1.08rem;
  max-width: 50rem;
  padding: 0 2rem;
}

.experienceItems {
  overflow-x: hidden;
}

.experienceItem {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background: #323232;

  h2 {
    margin: 0;
    font-size: 1.5em;
    color: #9297ff;
  }

  p {
    margin: 0.3rem;
    font-size: 1rem;
    font-weight: 200;
  }

  ul {
    margin: 0.3rem 0.3rem 0.3rem 1.3rem;
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;

    li {
      margin-bottom: 4px;
    }
  }
}
